.loader{
    text-align: center;
    padding: 40px 0px;
}

.main-area{
    padding-top: 30px
}

.main-warper{
    @include d-flex;
   

    .all-post-left{
        flex: 0 0 auto;
        width: 73%;
        padding-right: 16px;
        border-right: 1px solid #e2e2e2;

        @media #{$max991}{
            width: 100%;
            border-right: none;
            padding-right: 0px;
        }   
       
    }
    .add-post-right{
        padding-left: 16px;
        @media #{$max991}{
            padding-left: 0px;
            @include d-flex;
            grid-gap: 12px;
            padding-top: 10px;
            border-top: 1px solid #e2e2e2;  
            margin-top: 10px; 
        }

        .item{
           @media #{$max991}{
                width: calc(25% - 12px);
                flex: 0 0 auto;
                padding-top: 0px;
                margin-top: 0px;
                border: none;
                display: block;  
           }
           @media #{$max575}{
               width: calc(50% - 12px);  
           }

           .text{
               @media #{$max991}{
                   width: 100%;
                   margin-bottom: 10px;   
               }
           }

           &.main-paper {
               @media #{$max991}{
                   padding-top: 20px;
               }    
           }
        }   

        
    }
}                    
   
.main-post-warper{
    @include d-flex;
    grid-gap: 32px;
    padding-bottom: 16px;
    @media #{$max1280}{
        grid-gap: 20px;
        padding-bottom: 10px;
    }
    
    
}            

.mian-post-item-warp{
    @include d-flex;
    flex-wrap: nowrap;
    grid-gap: 12px;
    flex: 0 0 auto;
    width: calc(65% - 32px);
    position: relative;
    @media #{$max767}{
        width: 100%; 
    }
    @media #{$max575}{
        display: block;  
    }

    &::after{
        content: "";
        position: absolute;
        width: 165.4%;
        height: 1px;
        background-color: #e2e2e2;
        left: 0;
        bottom: -16px;
        @media #{$max1280}{
            bottom: -10px;
        }
        @media #{$max767}{
            width: 100%; 
        }

    }  
    .post-image{
        img{
            height: 90%;
            object-fit: cover;
        }
    }
 
    .post-content { 
        flex: 0 0 auto;
        width: 52%;
        @media #{$max575}{
            width: 100%;
            margin-bottom: 20px;    
        }
        h2{
            font-size: 25px;
            color: $color-main-balck;
            line-height: 32px;
            @media #{$max1280}{
                font-size: 22px;
            }
            @media #{$max1199}{
                font-size: 20px;
                line-height: 30px;
            }
            @media #{$max767}{
                font-size: 18px;
                line-height: 28px;   
            }  
        }
    }
}  
  
 .post-content {  
      h2{
          font-size: 16px;
          color: $color-main-balck;
          @include transition(0.3s);
          line-height: 26px;
          @media #{$max1199}{
              font-size: 14px;
              line-height: 22px;
          }
          @media #{$max575}{
              font-size: 13px;
              line-height: 20px;  
          }
          &:hover{
              color: $color-blue;
          }
      }
     p,a{
         color: $color-black-light;
         font-size: 14px;
         line-height: 20px;
         @media #{$max575} {
             font-size: 13px;  
         }
     }

     .description {
         margin-top: 15px;
         @media #{$max1199}{
             margin-top: 10px;
         }
         
     } 
     .time{
         margin-top: 15px; 
         @media #{$max1199}{
             margin-top: 10px;
         }
         p{
             font-size: 13px;
              color: $color-black-light; 
              
         } 
     }
 }  
 
 .second-post-item{
     flex: 0 0 auto;
     width:calc(33.3% - 32px);
     position: relative;
     @media #{$max991}{
         width:calc(33.3% - 20px);
     }
      
     @media #{$max767}{
         width:calc(50% - 20px);
         &::after{
             display: none;
         }
     } 

     &::after{
         content: "";
         position: absolute;
         width: 1px;
         height: 100%;
         background-color: #e2e2e2;
         top: 0;
         right: -16px;
         @media #{$max1280}{
             right: -10px;
         }

     }     

     &:nth-child(2) {
        
         &::after {
             display: none;
         }
     }

     &:nth-child(5) {
         
         &::after {
             display: none;
         }
     }
 }                    

 .post-row2{
     padding-top: 16px;
     
 }

 .post-row2{
     @include d-flex;
     grid-gap: 32px;
     @media #{$max1280}{
         grid-gap: 20px;
     }
 } 

 .third-post-item{
     @include d-flex;
     flex-wrap: nowrap;
     grid-gap: 12px;
     flex: 0 0 auto;
     width: calc(33.33% - 32px);
     position: relative;
     @media #{$max1280}{
        width: calc(33.33% - 20px); 
     }
     @media #{$max991}{
         display: block;     
     } 
     @media #{$max575}{
         width: calc(50% - 20px); 

         &::after,&::before{
             display: none;    
         }
     }
      &::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 100%;
          background-color: #e2e2e2;
          top: 0;
          right: -16px;
          @media #{$max1280}{
              right: -10px;
          }

      }
      &::before{
          content: "";
          position: absolute;
          width: 112%;
          height: 1px;
          background-color: #e2e2e2;
          top: -16px;
      }   

      &:nth-child(3) {

          &::after {
              display: none;
          }
      }

      &:nth-child(6) {

          &::after {
              display: none;
          }
      }

     .post-image{
         flex: 0 0 auto;
         width: 40%;
         @media #{$max991}{
             width: 100%;
         }
     }
 }         
.add-post-right {
    .third-post-item{
        width: 100%;
        border: none;
        padding-top: 16px;

        &::before,&::after{
            display: none;
        }
    }
} 
 .add-post-right{
     flex: 0 0 auto;
     width: calc(27% - 32px);
     @media #{$max1280}{
         width: calc(27% - 20px);
     }
     @media #{$max991}{
         width: 100%;
     }
 }    
 .ad-widget-area{
     padding: 16px 0px;
     margin-top: 16px;
     border-top: 1px solid #e2e2e2;
 }  

 .small-ad-widget{
     padding-bottom: 16px;
     margin-bottom: 16px;
      border-bottom: 1px solid #e2e2e2;
 } 

 .main-paper{
    background-color: #c8dff3;
   @include d-flex;
   @include justify-content(space-between);
   padding: 10px;
   margin-top: 16px;
    border-top: 1px solid #e2e2e2;

     .text{
         flex: 0 0 auto;
         width: 57%;
         h2{
             font-size: 16px;
             @media #{$max767}{
                 font-size: 14px; 
             }
         }
     }

    .paper-image{
        flex: 0 0 auto;
        width: 33%;
    }
 }         